body {
    padding: 50px;
    font-size: 16px;
}
a {
    color: #00B7ff;
}

#app {
    width: 60%;
    margin: 0 auto;
}

#room {
    background: #ddd;
    margin-bottom: 1em;
}

#messages {
    width: 690px;
    height: 300px;
    overflow: auto;
    background: #eee;
    margin-bottom: 1em;
    margin-right: 10px;  
}